{% extends 'base.html'%}

{% block content%}
<h2> Log_in</h2>
{% if form.error %}
<p> Your username and password didn't match</p>
{% else %}
<p> please use the following form to log_in</p>
{% endif %}
<div class='login_form'>
    <form action="{% url "login" %}" method='post'>
        {{ form.as_p}}
        {% csrf_token%}
        <input type='hidden' name='next' value="{{ next }}" />
        <p><input type='submit' value='Log_in'></p>
    </form>
    <p><a href='{% url "password_reset" %}'>Forgotten password?</a></p>
</div>
{% endblock %}